/* CSS Document */

h1 {
	font-family: "Tangerine". serif;
	font-weight: 100;
	font-style: serif;
	color: white;
	background-color: rgba(0, 0, 0, 0.3);
	font-size: 75px;
	text-align:center;

}

p {
	font-family: Broadway;
	font-weight: 300;
	font-style: vedrana;
	color: #0b2547;
	font-size: 25px;
	padding-left: 55px;
	line-height: 150%;

}

.pozadina {
	
	background-image: url("slike/pozadina1.jpg")
	
}

.kvadrat{
	
	position:relative;
	display:inline-block;
	padding:25px;
	background-color: rgba(255, 255, 255, 0.7);
	
}

 ul.nav-list {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex; 
      gap: 10px;
    }
	
	 ul.nav-list li a {
      display: inline-block;
      background-color: #0b2547;
      color: white;
      padding: 10px 15px;
      text-decoration: none;
      border-radius: 5px;
      font-weight: bold;
      font-family: sans-serif;
      text-align: center;
    }

.moja-lista {
  list-style-type: upper-roman; 
  float: left;                 
  width: 200px;               
  margin: 20px;                
  background-color: rgba(255, 255, 255, 0.7);    
  border: 3px solid #0b2547;      
}

.moja-lista li {
  margin-bottom: 10px;     
  font-weight: bold;            
}

form {
  max-width: 400px;
  background-color: #e8f5fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  display: block;
  margin-top: 200px;
  margin-left:75px;
}

fieldset {
  border: 7.5px solid #0b2547;
  border-radius: 5px;
  padding: 15px;
}

legend {
  font-weight: bold;
  color:#0b2547;
}

label {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #333;
}

input, select, button {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


input:focus, select:focus {
  border-color: #4a90e2;
  outline: none;
  background-color: #e8f0fe;
}

button:hover {
  background-color: #4a90e2;
  color: #fff;
  cursor: pointer;
}

button:active {
  background-color: #357ab8;
}


input[type="email"] {
  background-color: #fafafa;
}

input[type="url"] {
  background-color: #f0faff;
}


input::placeholder {
  color: #aaa;
  font-style: italic;
}

table {
  width: 80%;
  border-collapse: collapse;
  margin: 20px;
  border: 2px solid #0b2547;
  border-radius: 12px;
}

th, td {
  border: 2px solid #0b2547;
  padding: 8px 12px;
  text-align: center;
 
}

thead tr {
  background-color: #75a9ff;
}

tbody tr:nth-child(3) {
  background-color: #97c5fc;
}

tbody tr:nth-child(2) {
  background-color: #b6d6fc;
}

tbody tr:nth-child(1) {
  background-color: #e6f7ff;
}

.student {
  font-weight: bold;
  color: #0b2547;
  font-family: berlin sans FB;
}


th {
  height: 40px;
  font-family: berlin sans FB;
}

td {
  height: 35px;
  font-family: berlin sans FB;
}

#vanjski-sadrzaj {
    padding: 1rem;
    background-color: #afdfe3;
    margin-top: 1rem;
}

img {
    width: 100%;
    height: auto;
}

.vanjska-slika {
      height: auto;
    display: block;
    margin: 0.5rem 0;
	 width: 400px !important;
}



.pdf-ugradeni {
    width: 800px;
    height: 700px;
    border: 1px solid #ccc;
	width: 100%;
    max-width: 1000px; 
}

@media screen and (max-width: 600px) {
 

    .pdf-ugradeni {
        height: 450px;
    }

